* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height: 100%;
}

header{
    width: 100%;
    height: 80vh;
    padding: 40px 2%;
    background-image: url(../images/foto_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

.container{
    max-width: 1480px;
    margin: 0 auto;
}


header .logo{
    float: left;
    height: 130px;
    width: 350px;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.clear{
    clear: both;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    float: left;
    padding: 0 15px;
}

header li a{
    text-decoration: none;
    color: white;
}

.container-chamada-1{
    padding: 30px;
    margin: 140px;
    margin-top: 300px;
    margin-right: 100px;
    float: right;
    width: 780px;
    height: 230px;
    background-color: rgba(83, 83, 92,0.6);
    max-width: 800px;
}

.container-chamada-1 h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 40px;
}

.container-chamada-1 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.chamada-1{
    float: right;
    color: white;
    max-width: 700px;
}

.container-mid{
    background-color: #354b74;
    padding: 20px 2%;
    width: 100%;
    height: 464px;
}

section.container-mid .chamada-2{
    max-width: 800px;
}

.texto-sessao1{
    float: left;
    color: white;
    width: 50%;
}

.texto-sessao1 h1{
    font-weight: lighter;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto-sessao1 ul{
    margin-top: 20px;
    list-style-position: inside;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
}

.device{
    background-image: url(../images/device.png);
    float: right;
    height: 100vh;
    width: 35%;
    margin-top: -130px;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.btn1-texto{
    background-color: #354b74;
    width: 165px;
    height: 44px;
    position: absolute;
    color: #ebd242;
    cursor: pointer;
    margin-top: -30px;
    text-align: center;
    line-height: 44px;
    margin-left: 30px;
    border-radius: 30px;
}











.container-final {
    position: relative;
    margin: 0 auto;
}

.container-final h1{
    margin-top: 150px;
    text-align: center;
    color: #354b74;
    font-size: 30px;
    font-weight: lighter;
}

.container-final p{
    padding: 150px;
    margin-top: -100px;
    text-align: center;
    color: #354b74;
    font-size: 18px;
}

.container-final .device_0{
    background-image: url(../images/device_0.png);
    background-position: center;
    height: 70vh; /* Ajuste a altura conforme necessário */
    width: 80%; /* Defina uma largura inicial em relação ao elemento pai */
    max-width: 100%; /* Garante que a largura não ultrapasse a largura do elemento pai */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
}


@media screen and (max-width: 1024px){

    .container-chamada-1{
        display: block;
        text-align: center;
        width: 680px;
        height: 283px;
    }

}

/*
@media (max-width: 1414px) {
    .chamada-2 p {
        float: none;
        max-width: 100%; 
    }

    .foto1 {
        position: static; 
        height: auto; 
        top: auto;
        bottom: auto;
    }
}
*/