* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body {
    height: 100%;
}

header{
    width: 100%;
    height: 80vh;
    padding: 40px 2%;
    background-image: url(../images/foto_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

.container{
    max-width: 1480px;
    margin: 0 auto;
}


header .logo{
    float: left;
    height: 130px;
    width: 350px;
    background-image: url(../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.clear{
    clear: both;
}

header nav{
    float: right;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    float: left;
    padding: 0 15px;
}

header li a{
    text-decoration: none;
    color: white;
}

.container-chamada-1{
    padding: 30px;
    margin: 100px 10px;
    margin-top: 250px;
    margin-right: 100px;
    float: right;
    width: 780px;
    height: 230px;
    background-color: rgba(83, 83, 92,0.6);
    max-width: 800px;
}

.container-chamada-1 h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 40px;
}

.container-chamada-1 p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.chamada-1{
    float: right;
    color: white;
    max-width: 700px;
}

.container-mid{
    background-color: #354b74;
    padding: 20px 2%;
    width: 100%;
}

.texto-sessao1{
    position: relative;
    float: left;
    left: 130px;
    color: white;
    width: 45%;
}

.texto-sessao1 h1{
    font-weight: lighter;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto-sessao1 ul{
    margin-top: 20px;
    list-style-position: inside;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
}

.texto-sessao1 p{
    margin-top: 130px;
    width: 100%;
}

.device{
    background-image: url(../images/device.png);
    float: right;
    position: static;
    height: 39vh;
    width: 37%;
    background-size: 90% auto;
    background-repeat: no-repeat;
}

.btn1-texto{
    background-color: #F4D32C;
    width: 165px;
    height: 44px;
    position: absolute;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    line-height: 44px;
    margin-left: -10px;
    border-radius: 30px;
}

.container-final {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.container-final h1{
    margin-top: 100px;
    text-align: center;
    color: #354b74;
    font-size: 30px;
    font-weight: lighter;
}

.container-final p{
    padding: 150px;
    margin-top: -100px;
    text-align: center;
    color: #354b74;
    font-size: 18px;
}

.container-final .device_0{
    background-image: url(../images/device_0.png);
    background-position: center;
    height: 70vh;
    width: 80%; 
    max-width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -20%);
}

.container-equipe{
    width: 100%;
    color: white;
    margin-top: -200px;
}

.container-equipe .time{
    background-color: #354b74;
    width: 50%;
    float: left;
    padding: 100px 10%;
    height: 30vh;
}

.container-equipe .founder{
    background-image: url(../images/founder.png);
    height: 70px;
    width: 70px;
    float: left;
    margin-top: -75px;
    margin-left: 180px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-equipe .fundador{
    background-color:#354b74;
    width: 50%;
    float: right;
    padding: 100px 10%;
    height: 30vh;
}

.container-contato{
    width: 100%;
    text-align: center;
    color: white;
}

.contato{
    width: 50%;
    float: left;
    background-color: #446094;
    height: 600px;
    padding-left: 10px;
}

.contato h2{
    margin-top: 50px;
    font-size: 30px;
    font-weight: lighter;
}

.contato p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: lighter;
    width: 70%;
    float: center;
    margin-left: auto;
    margin-right: auto;

}

.form form input[type=text]{
    display: block;
    align-items: center;
    width: 100%;
    max-width: 480px;
    height: 58px;
    margin: 15px auto;
    line-height: 58px;
    padding: 15px;
    border: 1px solid rgb(200,200,200);

}

.form form textarea{
    width: 100%;
    margin-top: 8px;
    max-width: 480px;
    padding: 15px;
    border: 1px solid rgb(200,200,200);
    height: 160px;
}

.form form input[type=submit]{
    border: 0;
    background-color: #F4D32C;
    width: 165px;
    height: 44px;
    font-size: 13px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.visita{
    width: 50%;
    float: right;
    background-color: #446094;
    height: 600px;

}

.visita h2{
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
    font-size: 25px;
    font-weight: lighter;
}

.mapa{
    float: center;
    margin-top: 10px;
    width: 480px;
    height: 480px;
    background-color: white;
    border: 5px solid rgb(200,200,200);

}

footer{
    padding: 40px 2%;
    background-color: #192123;
    color: white;
    font-size: 14px;
}

footer p:nth-of-type(1){
    float: left;
}

footer p:nth-of-type(2){
    float: right;
}


@media screen and (max-width: 1024px){

    .container-chamada-1{
        display: block;
        margin-top: 250px;
        text-align: center;
        width: 680px;
        height: 283px;
    }

    .chamada-2{
        float: none;
        font-size: 15px;

    }

    .btn1-texto{
        width: 125px;
        height: 44px;
    }

    .container-mid{
        height: 420px;
    }

    .texto-sessao1{
        top: -70px;
        width: 70%;
        left: 105px;
    }

    .device{
        margin-top: -70px;
        height: 29vh;
        width: 27%;
    }

    .chamada-2{
    margin-top: 70px;

    }
}

@media screen and (max-width: 950px){

    .container-chamada-1{
        display: block;
        margin-top: 250px;
        text-align: center;
        width: 630px;
        height: 283px;
    }
}

@media screen and (max-width: 880px){

    .container-chamada-1{
        display: block;
        margin-top: 250px;
        text-align: center;
        width: 590px;
        height: 283px;
    }

}

@media screen and (max-width: 810px){

    .container-chamada-1{
        display: block;
        margin-top: 250px;
        text-align: center;
        width: 540px;
        height: 283px;
    }
}

@media screen and (max-width: 740px){

    .container-chamada-1{
        margin-top: 250px;
        display: block;
        text-align: center;
        width: 490px;
        height: 283px;
    }
}   
@media screen and (max-width: 670px){

    .container-chamada-1{
        margin-top: 250px;
        display: block;
        text-align: center;
        width: 440px;
        height: 283px;
    }

    .container-chamada-1 h1{
        font-size: 28px;
    }

}

@media screen and (max-width: 600px){

    .container-chamada-1{
        display: block;
        text-align: center;
        width: 390px;
        height: 283px;
    }

    .device{
        display: none;
    }

    .time{
        width: 100%;
    }
    
    .fundador{
        width: 100%;
    }

    .contato{
        width: 100%;
    }

    .visita{
        width: 100%;
    }


}